* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    background-color: #f0f2f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main-container {
    background-color: #ffffff;
    padding: 4rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0 .1);
    max-width: 100%;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.main-container :nth-child(2) {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.main-container h1 {
    text-transform: capitalize;
}

.main-container form {
    gap: 0.5rem;
    margin-bottom: 1rem;
}

label, input[type="text"] {
    display: block;
    margin-bottom: 0.5rem;
}

.main-container form input[type="text"] {
    flex: 1;
    padding: 0.75rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.main-container form .add-task-btn {
    padding: 0.75rem 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.main-container .todo-list {
    list-style: none;
    width: 100%;
    background-color: #333;
    paddidng: 0;
}

.main-container .todo-list .task-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    background: #f9f9f9;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
}

.todo-list .task-item div {
    width: 100px;
    background-color: red;
    margin-left: 10px;
}

.task-item.completed {
    text-decoration: line-through;
    color: #aaa;
}